#!/bin/bash
#
# Example cronjob for updating AppStream/DEP-11 metadata
#

set -e
set -o pipefail
set -u

#export DEBUG=y

SUITES="unstable jessie stretch"

WORKSPACE_DIR="/srv/appstream/workspace/"
PUBLIC_DIR="/srv/appstream/public"
GENERATOR_DIR="/srv/appstream/dep11-generator"

# only run one instance of the script
LOCKFILE="$WORKSPACE_DIR/.lock"
cleanup() {
    rm -f "$LOCKFILE"
}

if ! lockfile -r8 $LOCKFILE; then
    echo "aborting AppStream build because $LOCKFILE has already been locked"
    exit 0
fi
trap cleanup 0

# Start logging
logdir="$WORKSPACE_DIR/logs/`date "+%Y/%m"`"
mkdir -p $logdir
NOW=`date "+%d_%H%M"`
LOGFILE="$logdir/${NOW}.log"
exec >> "$LOGFILE" 2>&1

cd $WORKSPACE_DIR

# generate fresh metadata
for suite in $SUITES; do
    $GENERATOR_DIR/scripts/dep11-generator process $WORKSPACE_DIR $suite
done

# Cleanup superseded data
$GENERATOR_DIR/scripts/dep11-generator cleanup $WORKSPACE_DIR

# Refresh HTML pages and update statistics
for suite in $SUITES; do
    $GENERATOR_DIR/scripts/dep11-generator update-reports $WORKSPACE_DIR $suite
done

# Sync updated data to public directory
rsync -a --delete-after "$WORKSPACE_DIR/export/" "$PUBLIC_DIR/"

# finish logging
exec > /dev/null 2>&1
