<!DOCTYPE html>
<html lang="en">
  <head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block head_meta_extra %}{% endblock %}

    <title>Debian DEP-11 Report - {% block title %}{% endblock %}</title>

    <link href="static/css/style.css" rel="stylesheet" type="text/css" />

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="static/img/favicon.png">
{% endblock %}
</head>

<body>
<div class="headbar">
  <div class="headbar-content avoidwrap">
    <span>{{package_name}}</span> <span style="font-size:16px;">[{{suite}}/3.14.0-1]</span>&nbsp;
    <span style="font-size:12px;">at 2015-06-16 17:40 UTC:</span>
  </div>
</div>

<div class="content">
  {% block content %}{% endblock %}
</div>

<hr />

<footer>
<p style="font-size:0.9em;">
    Debian DEP-11 metadata generator.
</p>
<p style="font-size:0.8em;">
    {% block page_details %}{% endblock %}
</p>
</footer>

</body>
</html>
