{% extends "base.html" %}
{% block title %}{{package_name}} in {{suite}}{% endblock %}

{% block header_content %}
<span style="font-size:18px;"><a href="index.html" style="color: #000000;">⇦ |</a></span>

<span>{{package_name}}</span> <span style="font-size:16px;">[{{suite}}]</span>&nbsp;
<span style="font-size:12px;">at {{time}}</span>

{% endblock %}

{% block content %}
    <h1>Issues with {{package_name}} in {{suite}}</h1>
    <p>WORK IN PROGRESS!</p>

    {% if errors|length %}
    <div class="infobox infobox-error">
      <h2>Errors</h2>
      <ul class="list-group">
        {% for msg in errors %}
          <li class="list-group-item list-group-item-info">{{msg}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if warnings|length %}
    <div class="infobox infobox-warning">
      <h2>Warnings</h2>
      <ul class="list-group">
        {% for msg in warnings %}
          <li class="list-group-item list-group-item-info">{{msg}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if infos|length %}
    <div class="infobox infobox-hint">
      <h2>Hints</h2>
      <ul class="list-group">
        {% for msg in infos %}
          <li class="list-group-item list-group-item-info">{{msg}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

{% endblock %}

{% block page_details %}
<p><small>Last updated on: {{time}}</small></p>
{% endblock %}
