{% extends "base.html" %}
{% block title %}{{package_name}} in {{suite}}{% endblock %}

{% block header_content %}
<span style="font-size:18px;"><a href="index.html" style="color: #000000;">⇦ |</a></span>

<span>{{package_name}}</span> <span style="font-size:16px;">[{{suite}}]</span>&nbsp;
<span style="font-size:12px;">at {{time}}</span>

{% endblock %}

{% block content %}
    <h1>Hints for {{package_name}} in {{suite}}</h1>

    <div class="wrapper">

    {% if errors|length %}
    <div class="infobox infobox-error">
      <h2>Errors</h2>
      <ul class="list-group">
        {% for tag in errors %}
          <li class="list-group-item list-group-item-info">
          <strong>{{tag.tag_name}}</strong><br/>
          {{tag.description}}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if warnings|length %}
    <div class="infobox infobox-warning">
      <h2>Warnings</h2>
      <ul class="list-group">
        {% for tag in warnings %}
          <li class="list-group-item list-group-item-info">
          <strong>{{tag.tag_name}}</strong><br/>
          {{tag.description}}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if infos|length %}
    <div class="infobox infobox-hint">
      <h2>Hints</h2>
      <ul class="list-group">
        {% for tag in infos %}
          <li class="list-group-item list-group-item-info">
          <strong>{{tag.tag_name}}</strong><br/>
          {{tag.description}}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    </div>

{% endblock %}

{% block float_right %}
<small>Last updated on: {{time}}</small>
{% endblock %}
