{% extends "base.html" %}
{% block title %}DEP-11 data for {{distro}}: {{suite}} suite{% endblock %}

{% block header_content %}
<span style="font-size:18px;"><a href="../" style="color: #000000;">⇦ |</a></span>
<span>DEP-11 data for {{distro}}/{{suite}}</span>
{% endblock %}

{% block content %}
    <h1>Select an archive component</h1>

    {% for section in sections %}
      <h3><a href="{{section}}/index.html">{{section}}</a></h3>
    {% endfor %}

{% endblock %}

{% block float_right %}
<small>Last updated on: {{time}}</small>
{% endblock %}
